<!-- Logback Configuration Properties -->
<!-- http://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="5 minutes" >
 <!-- http://logback.qos.ch/manual/appenders.html -->
 <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>log/appcreate.log</file>
  <encoder>
   <pattern>%date %level [%thread] %logger{40} - %msg%n</pattern>
  </encoder>
 </appender>
 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
   <pattern>%logger{40} - %msg%n</pattern>
  </encoder>
 </appender>
 <!-- Supported Levels: ALL, TRACE, DEBUG, INFO, WARN, ERROR or OFF -->
 <logger name="com.redis.tools.appcreate" level="TRACE">
  <appender-ref ref="FILE" />
 </logger>
 <logger name="com.redis.tools.appcreate.Main" level="INFO">
  <appender-ref ref="STDOUT" />
 </logger>
</configuration>
